.input-label{
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1rem;
    text-align: left;
    color: #222;
}

.input-field{
    margin-top: 6px;
    padding: 10px;
    border-radius: 8px;
    border:1px solid #222;
    font-size: 1rem;
    outline-offset: 2px;
    outline-color: #5555cc;
}

.input-field::placeholder{
    color:#999;
}